<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @music_category.name %>
</p>

<%= link_to 'Edit', edit_music_category_path(@music_category) %> |
<%= link_to 'Back', music_categories_path %>
