<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image_category.name %>
</p>

<%= link_to 'Edit', edit_image_category_path(@image_category) %> |
<%= link_to 'Back', image_categories_path %>
